<% if(typeof passwordSuccess != 'undefined') { %>
    <div class="alert alert-success" role="alert">
        <p>Update successful!</p>
    </div>
<% }  %>
<% if(typeof passwordFail != 'undefined') { %>
    <% for (var i = 0; i < passwordFail.length; i++) { %>
        <div class="alert alert-danger" role="alert">
            <%= passwordFail[i] %>
        </div>
    <% } %>
<% } %>