<% if(typeof quizAwards != 'undefined') { %>
    <% for (var award in quizAwards) { %>
        <% if(quizAwards[award] == true) { %>
            <div class="unitquiz">
                <h2 align="center"><br>Quiz <%- parseInt(award) + 1 %> Unlocked</h2><br>
                <h3 align="center">Congratulations! You have</h3>
                <h3 align="center">Completed Quiz <%- parseInt(award) + 1 %></h3><br>
                <img class="logo" src="/images/badge1.png" alt="Unlock" width=100px;>
            </div>
        <% } else { %>
            <div class="unitquiz">
                <h2 align="center"><br>Quiz <%- parseInt(award) + 1 %> Locked</h2><br>
                <h3 align="center">You have not</h3>
                <h3 align="center">Completed Quiz <%- parseInt(award) + 1 %> </h3><br>
                <img class="logo" src="/images/locked.png" alt="Lock" width=100px;>
            </div>
        <% } %>
    <% } %>
<% } %>