<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('home_head') %>
</head>
<body>
    <header>
        <%- include('../global_header') %>
    </header>
    <div class="container">
    <table class="Home">
        <br><br>
        <h1 align="center">Project Stat's Mission</h1>
        
        <tr>
        <td style="width:1000px;"><p class="padding_home">
            Our mission is to provide a free, online statistics course for underprivileged individuals in AEOP 
            as a simple resource to assist in the development of their STEM skills. This online course will have an audience focus 
            of grade 8 and higher, but other individuals are welcome to utilize the resource to strengthen their statistical 
            instruction for competitive STEM fields.
          </p>
        </td>
        
        <td>
          <img src=images/placeholder_home.jpg alt="placeholder" width="250px" height="200px">
        </td>
        </tr>
        
        </table>

    <div class="container">
    <div class="box">
        <div class="icon"><i class="fa fa-book" aria-hidden="true"></i>
        </div>
        <div class="content">
            <h3>Online Courses</h3>
            <p>Learn about statistics in our free online course.
                The topics covered in this course apply to all STEM fields.
            </p>
        </div>
    </div>
    <div class="box">
        <div class="icon"><i class="fa fa-users" aria-hidden="true"></i>
        </div>
        <div class="content">
            <h3>Monitoring Tool</h3>
            <p> Teachers can register an entire class to take part in Project Stat's
                free online course.
            </p>
        </div>
    </div><div class="box">
        <div class="icon"><i class="fa fa-calculator" aria-hidden="true"></i>
        </div>
        <div class="content">
            <h3>Statistical Calculators</h3>
            <p>All users will have access to external statistical Calculators
                to aid in completing course content.
            </p>
        </div>
    </div>
</div>
</div>
<br><br>

</body>

<footer>
    <%- include('../global_footer') %>
</footer>
</html>
