<!DOCTYPE html>
<html>
    <head>
        <title>Lab - Question Set</title>
        <script type="text/javascript" src="/javascript/testForm.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/home_css.css"/>
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/labs.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <a href="/index.html" class="logo" >
              <img src="/images/logo.png" alt="logo" width=120px;>
            </a>
            <nav>
                <ul class="nav__links">
                    <li><a href="">Dashboard</a></li>
                    <li><a href="/html/aboutus.html">About</a></li>
                    <li><a href="/html/calculator.html">Calculators</a></li>
                    <li><a href="">Settings</a></li>
                    <li><a href="">Log Out</a></li>
                </ul>
            </nav>
        </header>
        <div class="containerLab">
            <div class="containercontainer">
                <h1>Lesson 1 Lab 1</h1> <button type="print" onclick="printPage()" value="Print" class="labButtons">Print</button>
            </div>
            <div id="questionSet"> <%- giveMeInfo %> </div>
        </div>
    </body>
    <footer>
        <table>
            <tr>
                <td><a href="/html/contact.html" style="color: white;" class="button large hpbottom">Have Questions? Contact Us</a></td>
            </tr>
        </table>
      </footer>
</html>