<!DOCTYPE html>
<html>
    <head>
        <title>Lab - Question Set</title>
        <script type="text/javascript" src="/javascript/testForm.js"></script>
    </head>
    <body>
        <div id="questionSet"> <%- giveMeInfo %> </div>
    </body>
</html>