<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" media="screen" charset="utf-8" type="text/css" href="/css/projectstat.css">
  <link rel="stylesheet" media="screen" charset="utf-8" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" media="screen" charset="utf-8" type="text/css" href="/css/navbar.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="About Us">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

<style>

  .accordion{
    margin-left: 300px;
}

  .accordion_button{
    display: block;
    width: 75%;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #333333;
    color: #ffffff;
    text-align: left;
    transition: background 0.2s;
    align-items: center;
  }

  .accordion_button::after{
    content: '\25be';
    float: right;
    transform: scale(1.5);
  }

  .accordion_button--active + .accordion_content {display: block}
  .accordion_button--active{
    background: #555555;
  }
  .accordion_button--active::after{
    content: '\25b4';
  }

  .accordion_content{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;
    
    padding: 0 15px;
    font-family: sans-serif;
    background: white;
    width: 75%;

    /*display: none;
    overflow: auto; */
  }

.accordion_content a{
  font-size: 20px;
  color: black;
  text-align: center;
  display: inline-block;
}

.accordion_content p{
  font-size: 20px;
  color: black;
  /*text-align: center;
  display: inline block;*/
}

  .button_container {
	position: absolute;
  left: 0;
  right: 0;
  top: 30%;
}

.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 12px 50px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn span {
  position: relative; 
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: grey;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.progress_bar{
  position: relative;
  width: 850px;
  height: 3em;
  background-color: grey;
  border-radius: 1.5em;
  color: black;
  align-items: center;
}

.progress_bar::before{
  content: attr(data-label);
  display: flex;
  align-items: center;
  position: absolute;
  left: .5em;
  top: .5em;
  bottom: .5em;
  width: calc(var(--width,0)*1%);
  min-width: 0rem;
  max-width: calc(100% - 3em);
  background-color: white;
  border-radius: 1em;
  padding: 1em;
}



</style>

</head>

<body>
  <header>
    <a href="/index.html" class="logo" >
      <img src="/images/logo.png" alt="logo" width=120px;>
    </a>
    <nav>
        <ul class="nav__links">
            <li><a href="">Dashboard</a></li>
            <li><a href="/html/aboutus.html">About</a></li>
            <li><a href="/html/calculator.html">Calculators</a></li>
            <li><a href="">Settings</a></li>
            <li><a href="">Log Out</a></li>
        </ul>
    </nav>
</header>

<br><br>
<h1 align="center">My Dashboard</h1>
<br>

<div class="button_container">
	<button class="btn" onclick="window.location.href = 'achievements.html';"><span>Achievements</span></button>
</div>

<br><br><br><br>

<div class="accordion">
<button type="button" class="accordion_button">Unit 1</button> 
<div class="accordion_content"><br>
  <p>Lesson 1 </p><div class="progress_bar" data-label="0%" style="--width: 0"></div><br>
  <a href="url"title="Take this to pass over the unit">Pre-Test</a> <br><br>
  <a href="url">Interactive Module</a><br><br>
  <a href="lab1">Lab</a><br><br>
  <a href="url">Quiz</a><br><br>
  
</div>
<button type="button" class="accordion_button">Unit 2</button>
<div class="accordion_content"><br>
  <p>Lesson 2 </p><div class="progress_bar" data-label="50%" style="--width: 50"></div><br>
  <a href="url"title="Take this to pass over the unit">Pre-Test</a> <br><br>
  <a href="url">Interactive Module</a><br><br>
  <a href="url">Lab</a><br><br>
  <a href="url">Quiz</a><br><br>

</div>

</div>


<br><br>

<script>
  document.querySelectorAll('.accordion_button').forEach(button => {
    button.addEventListener('click', () => {
      const accordionContent = button.nextElementSibling;
      button.classList.toggle('accordion_button--active');

      if(button.classList.contains('accordion_button--active')){
        accordionContent.style.maxHeight = accordionContent.scrollHeight + 'px';
      }
      else{
        accordionContent.style.maxHeight = 0;
      }
    });
  });


</script>

</body>

<footer>
  <table>
  <tr>
  <td><a href="/html/contact.html" style="color: white;" class="button large hpbottom">Have Questions? Contact Us</a></td>
  </tr>
  </table>
</footer>
</html>
