.containerLab {
    position: relative;
    width: 800px;
    height: 1200px;
    margin: 50px auto;
  }


  body{
    font-family:  'Montserrat', sans-serif;

}

#questionset{

  text-align: left;

}

#questionDisplay{

    text-align: left;

}

.containercontainer{
    display: inline-block;
}

.containerButton {
      position: fixed;
      left: 0;
      right: 0;
      text-align: center;
  }

button[type=submit]{
    margin:auto;
    display:inline-block;
    
  }

button[type=back]{
    margin:auto;
    display:inline-block;
  }

button[type=print]{
    margin:auto;
    display:inline-block;
    margin-left: 750px;
}

.labButtons {
	box-shadow:inset 0px 1px 0px 0px #ededed;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.labButtons:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.labButtons:active {
	position:relative;
	top:1px;
}
