body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Style the header */
.header {
  text-align: center;
  background: #0F305D;
  color: white;
}

.container{
  position: relative;
  width: 1200px;
  height: 300px;
  margin: 50px auto;
}

/* Increase the font size of the h1 element */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #222842;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

p.padding_about{
  padding-top: 30px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 100px;
}

table td.about{
  border-spacing: 100px;
}

p.padding_home{
  padding-top: 30px;
  padding-right: 200px;
  padding-bottom: 20px;
  padding-left: 350px;
}

table td.home{
  border-spacing: 100px;
}
/*
table#home{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

table#home td{
width: 50%;
padding: 10px;
}


table td.home{
  border-spacing: 20px;
  width: 50%;
}

.homeimg{
  padding-left: 100px;
  width: 200px;
  height: 200px;
  position: center;
}

img.homeimage{
  padding-top: 30px;
  padding-right: 100px;
  padding-bottom: 20px;
  padding-left: 100px;
}
*/
.container{
  position: relative;
  width: 1200px;
  height: 300px;
  margin: 50px auto;
}

.container .box{
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: #000;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.container .box .icon{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #f00;
transition: 0.5s;
z-index: 1;
}

.container .box:hover .icon
{
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.container .box .icon .fa
{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 80px;
transition: 0.5s;
color: #fff;
}

.container .box:hover .icon .fa
{
  font-size: 40px;
}

.container .box .content
{
position: absolute;
top: 100%;
height: calc(100% - 100px);
text-align: center;
padding: 20px;
box-sizing: border-box;
transition: 0.5s;
opacity: 0;
}

.container .box:hover .content
{
  top: 100px;
  opacity: 1;
}

.container .box .content h3
{
 margin: 0 0 10px;
 padding: 0;
 color: #fff; 
 font-size: 24px;
}

.container .box .content p
{
 margin: 0;
 padding: 0;
 color: #fff; 
}

.container .box:nth-child(1) .icon
{
background: #4c4c4c;
}

.container .box:nth-child(1)
{
  background: #818181;   
}

.container .box:nth-child(2) .icon
{
background: #f0d328;
}

.container .box:nth-child(2)
{
  background: #f4e068;   
}

.container .box:nth-child(3) .icon
{
background: #23798e;
}

.container .box:nth-child(3)
{
  background: #328fa5;   
}

/* Achievements Page CSS Style Update */
.unit1rewards{
	width: 900px;
    height: 650px;  
    background-color: white;
    box-shadow: 5px 5px 5px 5px grey;
	margin:auto;
}

.unit2rewards{
	width: 1300px;
    height: 650px;  
    background-color: white;
    box-shadow: 5px 5px 5px 5px grey;
	margin:auto;
}

.unit3rewards{
	width: 1300px;
    height: 950px;  
    background-color: white;
    box-shadow: 5px 5px 5px 5px grey;
	margin:auto;
}

/* Achievements Page CSS Style Update */
.unitmod{
	width: 350px;
    height: 250px;  
    border-radius: 5px;
    background-color: #E8E8E8;
    box-shadow: 5px 5px 5px 5px grey;
	float:left;
	margin-top: 50px;
	border:black;
	margin-left:75px;
}


/* Achievements Page CSS Style Update */
.unitlab{
	width: 350px;
    height: 250px;  
    border-radius: 5px;
    background-color: #E8E8E8;
    box-shadow: 5px 5px 5px 5px grey;
	float:left;
	margin-top:50px;
	margin-left: 75px;
}



/* Achievements Page CSS Style Update */
.unitquiz{
	width: 350px;
    height: 250px;  
    border-radius: 5px;
    background-color: #dddddd;
    box-shadow: 5px 5px 5px 5px grey;
	float:left;
	margin-top:50px;
	margin-left:75px;
}

/* Achievements Page CSS Style Update */
.logo{
	margin-left: 125px;
}