body {
  font-family: Montserrat;
  margin: 0;
}

/* Increase the font size of the h1 element */
h1 {
  font-size: 32px;
}

h2 {
	font-size: 20px;
	color: DimGrey;
}

h3 { 
	font-size: 20px;
	color: DimGrey;
}

p.padding_about{
  padding-top: 30px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 100px;
}

.inputfields{
	width: 500px;
    height: 100%;  
    border-radius: 5px;
    background-color: white;
    padding: 30px;
    box-shadow: 5px 5px 5px 5px grey;
    margin:auto;
    margin-top: 40px;
	
		
}

.login{
	width: 500px;
    height: 40%;  
    border-radius: 5px;
    background-color: white;
    padding: 30px;
    box-shadow: 5px 5px 5px 5px grey;
    margin:auto;
    margin-top: 40px;
	
		
}



input[type=text],[type=password],[type=email]{
    width: 100%;
    padding: 12px 5px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
input[name=bday]{
    width: 100%;
    padding: 12px 5px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
input[type=submit] {
  background-color: #24252a;
  color: white;
  font-size: 16px;
  padding: 12px 80px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  display: block;
  }
  
input[type=submit]:hover {
    background-color: #0088a9;
  }

select[name=state]{
	width: 100%;
    padding: 12px 40px;
    margin: 8px 0;
	margin-bottom: 20px;
    box-sizing: border-box;
	
	
}


button[type=submit] {
	
  background-color: #24252a;
  color: white;
  font-size: 16px;
  padding: 12px 80px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  display: block;
	
}

button[name=T] {
  background-color: #24252a;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
	margin:auto;
	text-align:center;
	position:auto;
	margin-top:30px;
	font: bold;
	font-size:20px;
	text-decoration:none;
	display: inline-block;
	border:none;
	
    }
  
  
	
button:hover {
    background-color: #0088a9;
  }	

.btn{
	margin:auto;
	text-align: center;
	color:yellow;
	font-size:20px;
	
}

.center-t {
  margin: 0;
  position: absolute;
  left: 60%;
  top: 33%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.center-s {
  margin: 0;
  position: absolute;
  left: 40%;
  top: 33%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}


footer1 {
  position: absolute;
  bottom: 0;
  height: 60px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FFF;
}



footer2 {
  position: absolute;
  bottom: 0;
  height: 90px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FFF;
}