<html>
<head>
    <%- include('passwordrest_head') %>
</head>
<body>
    <header>
        <%- include('../global_header') %>
    </header>
<br><br>

<h1 align="center">Forgot Password?</h1>
<br>
<h2 align="center">Enter your email address and we will send you a link to reset it.</h2>

<div class="fpass">
    <form action = "#" method = "post" onsubmit="return validatelogin();">
    <label for="emailadd"><b>Email Address</b></label><br>
    <input type="email" placeholder="Enter Email Address" name="emailadd" required>
    <input type="submit" onclick="validatelogin()" value="Reset Password" name="reset">
    </form>
</div>
<br>
<br>

<div id="footer2" style="text-align: center">
    <a href="studentregister">Create an account</a><br><br><br>
</div>
<footer>
    <%- include('../global_footer') %>
</footer>
</body>
</html>
