<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('calculator_head') %>
</head>
<body>
	<header>
        <%- include('../global_header') %>
    </header>


    <h1 class="titlestyle">Statistical Calculators</h1>
    <h2 align="center"; style="color:gray"> Please use this page to access calculators to help complete course content</h2>


    <div class="container">
    <div class="box">
        <div class="content">
            <h3>Table/Chart Creating Tool</h3>
            <p>Design and share your own charts online
            </p>
        </div>
        </div>
    <div class="box">
        <div class="content">
            <h3>Z-Test</h3>
            <p>Determine whether two population means are different when
                the variances are known and the sample size is large.
            </p>
        </div>
    </div>
    <div class="box">
        <div class="content">
            <h3>Chi-Square</h3>
            <p> Testing relationships between categorical relationships.
            </p>
        </div>
    </div>
    <div class="box">
        <div class="content">
            <h3>Pearson Correlation</h3>
            <p>A measure of the linear correlation between two variables X and Y. 
            </p>
        </div>
    </div>
    <div class="box">
        <div class="content">
            <h3>Simple Regression</h3>
            <p>The relationships between the dependent variable and one or more independent variables.
            </p>
        </div>
    </div>
    <div class="box">
        <div class="content">
            <h3>One Sample T-Test</h3>
            <p>Determine whether a population mean is significantly different from some hypothesized value.
            </p>
        </div>
        </div>
    <div class="box">
        <div class="content">
            <h3>Independent T-Test</h3>
            <p>Determine whether there is statistical evidence that the associated population means are significantly different.
            </p>
        </div>
        </div>
    <div class="box">
        <div class="content">
            <h3>Dependent T-Test</h3>
            <p>Compares the means of two related groups to determine whether there is a statistically significant difference between these means.
            </p>
        </div>
        </div>

    </div>

<br><br><br><br>

    <footer>
        <%- include('../global_footer') %>
    </footer>
</body>
</html>