<link rel="stylesheet" type="text/css" href="/css/projectstat.css"/>
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/teacherdash.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Teacher Dashboard">
<title>Teacher Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">